        /* 태그 명에 스타일을 주는것은 타입 스타일 */
        /* 우선 순위 : !important - 인라인 스타일 - id 스타일 - 클래스 스타일 - 타입 스타일 */
        /* 같은 태그에 적용하면 밑에것이 적용됨 */
        /* 순수하게 외부 스타일시트 만으로 만드는것을 고려하고, 도저히 안된다 싶으면 인라인, 그래도 안된다 싶으면 !important를 사용 */
        /* h1 {
            color: red !important;
        }
        .h1-1 {
            color: orange;
        }
        #h1-id {
            color: black;
        } */
        
        /* 부모에 스타일을 줘도, 자식에 같은(color) 스타일이 있다면 자식 스타일이 적용 */
        .container_2 {
            color: blue;
        }
        .h1_2 {
            color: orange;
        }