table {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 10px;
}
h1 {
    color: #FF0000;
    border: 3px solid #ffaa00;
    display: inline-block;
}
h2 {
    border: 3px solid #ffaa00;
    color: #1500ff;
    display: inline-block;
}
ol {
    color:#03a600;
    border: 3px solid #ffaa00;
    display: inline-block;
    padding-right: 15px;
}