/* 크롬 개발자모드로 확인 */
.h1_1 {
    background-color: gray;
    margin: 10px;
    padding: 20px;
    border: 3px solid red;
    width: 100px;
    height: 200px;
    /* border-box는 안의 content기준이 아닌, */
    box-sizing: border-box;
}
.h1_2 {
    background-color: gray;
    margin: 10px;
    padding: 20px;
    border: 3px solid red;
    width: 100px;
    height: 200px;
    /* content-box는 content의 너비와 높이, 현업에서는 잘 사용하지않음 */
    box-sizing: content-box;
}
span {
    background-color: aqua;
}