body {
    background-color: #02233b;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    margin:0 auto;	
	width:750px;
	height:850px;
	border:1px solid gray;
    padding:20px;        
    background:#fff url('../IMG/mic.png') no-repeat right bottom / 300px;
}
h1 {
    margin: 0px;
    padding: 10px;
    background-color: #004344;
    color: white;
    line-height: 60px;
}
h1, h2 {
    text-align: center;
}
h2 {
    font-style: italic;
    margin-bottom:50px;
}
h3 {
    color: rgba(255, 72, 0, 0.897);
}
li {
    list-style-type: none;
    margin: 10px;
}