/* 고급 선택자 */
/* 상위 요소와 하위 요소 : 상위 요소에 포함된 모든 하위요소에 적용 */
/* header 안의 span에 적용 : header span */
/* 우선순위 잘 생각하기 */
header span {
    color: aqua;
}

/* 부모요소 > 하위요소 : 부모 요소의 자식요소에게만 적용 */
/* headr의 자식요소인 span에게만 적용 */
header > span {
    color: blue;
}

/* 형제요소 : 같은 부모요소 아래 자식요소들
    div, span, p */
/* 형제 요소 + 형제요소 : 형제요소 중, 첫번째 형제요소에 적용, 연속되는 태그로 적어줘야함 */
span + p {
    color: blueviolet;
}

/* 형제 요소 ~ 형제 요소 : 설정된 모든 형제요소에 적용 */
.div3 ~ span {
    color: red;
}