body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900;
}
legend {
    font-size: 40px;
    font-weight: 900;
    color: hotpink;
}
fieldset {
    width: 600px;
    background-image: url('../IMG/uncle-sam.jpg');
    background-size: cover;
}
li {
    margin: 20px;
    margin-left: 5px;
    list-style: none;
}
.f_red::before {
    content: '*';
    color: red;
}
textarea {
    background: none;
    outline-color: red;
}
input:focus {
    outline: none;
    border: 1px solid red;
}
.memo {
    position: relative;
    top: -110px;
}
#name, #age {
    background: none;
}
input:checked + label {
    color: red;
}
.button_hover {
    width: 240px;
    border: 1px solid #000;
    background-color: #000;
    color: white;
    display: none;
}
#hover:hover + .button_hover{
    display: inline-block;
}
