body {
    box-sizing: border-box;
}
.container_1, .container_2 {
    border: 1px solid #000;
    width: 90vw;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.border {
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin: 10px;
    width: 500px;
    padding: 10px;
}
p {
    line-height: 25px;
}