@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'TheJamsil5Bold';
    font-size: 20px;
}
.container {
    margin: 20vh 0;
}
.score {
    width: 65vw;
    max-width: 550px;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 15px;
}
.btns {
    width: 70vw;
    min-width: 350px;
    max-width: 550px;
    text-align: center;
    margin: auto;
    padding: 15px;
}
.top {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    text-align: center;
}
.btn_center {
    margin-left: 10px;
    margin-right: 10px;
}
.winner_msg {
    color: rgba(255, 0, 0, 0.747);
}